<a href="https://time.is/UTC" id="time_is_link" rel="nofollow" style="font-size:50px;background:#00000000">UTC Time</a>
<span id="UTC_za00" style="font-size:50px;background:#00000000"></span>
<script src="//widget.time.is/en.js"></script>
<script>
time_is_widget.init({UTC_za00:{template:"TIME<br>DATE", date_format:"dname daynum-year week"}});
</script>
